/* Loading  Bar */     
.loading-div {
	box-sizing: border-box;
	display: block;
	position:relative;
	height:100px;
	width:100%;
	/*background-color: red;*/
	text-align: center;
	vertical-align: center ;
}
.loading-text {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
        
        
/* Nav Var */        
	   /*.nav {*/
/*margin: 0;*/
/*height : 100px;*/
/*background-color: #3adb76;*/
/*}*/
.nav-ul {
	/*position: fixed;*/
	/*top:0;*/
	/*width:100%;*/

	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #67b168;
	overflow: hidden;
	border:1px solid #447444;
}
.nav-ul li {
	float: left;
}

.nav-ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-ul li a:hover {
	color:black;
	background-color: white;
}

/* Top Button */
#top-div {
	position: fixed;
	right:0;top:300px;background-color: #9d9da0;color: white;padding: 10px;
}
