<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RememberIt</title>
    <link rel="stylesheet" href="/public/vendors/css/normalize.css">
    <link rel="stylesheet" href="/public/vendors/css/foundation.css">

    <link rel="stylesheet" href="/public/resources/css/main.css">
    <script type="application/javascript" src="https://code.jquery.com/jquery-2.2.3.js"></script>
    <script type="application/javascript" src="/public/script/list.js"></script>

</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="form-title">Add Item</div>
        <!--<form action="/items" method="post">-->
        <form id="myForm">
            <div class="form-input">
                <label>Item
                    <input type="text" name="item">
                </label>
            </div>
            <div class="form-input">
                <label>Desc
                    <textarea rows="4" cols="50" name="item_desc"></textarea>
                </label>
            </div>
            <div class="form-input">
                <button class="submit-button">Add</button>
            </div>

        </form>
    </div>


</div>

<script>
    $('.submit-button').click( function() {
        setState(1);
        $.ajax({
            url: '/items',
            type: 'post',
            dataType: 'json',
            data: $('form#myForm').serialize(),
            success: function(data) {
                console.log('success : ' + data);
                window.location.href = '/';
            }
        });
    });
</script>


</body>
</html>